<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHttpPlatform" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath=".\runtime\python.exe"
                  arguments="&quot;%HOME%\site\wwwroot\serve.py&quot;"
                  startupTimeLimit="60"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\httpplatform-stdout" />
  </system.webServer>
</configuration>
